In [2]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# import API key
from config import g_key

# Store the CSV 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Semirom,IR,2022-07-25 15:00:20,31.4167,51.5667,81.03,10,0,8.19
1,1,Garissa,KE,2022-07-25 15:00:20,-0.4536,39.6401,84.85,40,77,23.78
2,2,Cherskiy,RU,2022-07-25 15:00:21,68.7500,161.3000,41.29,74,3,9.40
3,3,Mattru,SL,2022-07-25 15:00:21,7.6244,-11.8332,80.73,69,100,6.40
4,4,Kaitangata,NZ,2022-07-25 15:00:22,-46.2817,169.8464,46.00,90,100,16.71

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Config gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
#  Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and a maximum temp value
min_temp = float(input("What is the minimum temperatue you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperatue you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the data set to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &  
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Semirom,IR,2022-07-25 15:00:20,31.4167,51.5667,81.03,10,0,8.19
1,1,Garissa,KE,2022-07-25 15:00:20,-0.4536,39.6401,84.85,40,77,23.78
3,3,Mattru,SL,2022-07-25 15:00:21,7.6244,-11.8332,80.73,69,100,6.40
6,6,Bonthe,SL,2022-07-25 15:00:23,7.5264,-12.5050,80.49,68,100,12.64
10,10,Beckley,US,2022-07-25 15:00:25,37.7782,-81.1882,79.09,89,61,1.01
13,13,Itupeva,BR,2022-07-25 15:00:25,-23.1531,-47.0578,84.04,30,35,2.86
16,16,Atuona,PF,2022-07-25 15:00:27,-9.8000,-139.0333,76.24,69,94,14.61
19,19,Pasighat,IN,2022-07-25 15:00:28,28.0667,95.3333,77.56,96,22,1.61
20,20,Cabo San Lucas,MX,2022-07-25 15:00:28,22.8909,-109.9124,83.52,75,100,5.99
21,21,Samarai,PG,2022-07-25 15:00:28,-10.6167,150.6667,79.23,83,59,15.75

In [18]:
preferred_cities_df.count()

City_ID       219
City          219
Country       219
Date          219
Lat           219
Lng           219
Max Temp      219
Humidity      219
Cloudiness    219
Wind Speed    219
dtype: int64

In [19]:
# Create DF called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Semirom      IR     81.03  31.4167   51.5667
1          Garissa      KE     84.85  -0.4536   39.6401
3           Mattru      SL     80.73   7.6244  -11.8332
6           Bonthe      SL     80.49   7.5264  -12.5050
10         Beckley      US     79.09  37.7782  -81.1882
13         Itupeva      BR     84.04 -23.1531  -47.0578
16          Atuona      PF     76.24  -9.8000 -139.0333
19        Pasighat      IN     77.56  28.0667   95.3333
20  Cabo San Lucas      MX     83.52  22.8909 -109.9124
21         Samarai      PG     79.23 -10.6167  150.6667

In [26]:
# Set the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DF
for index, row in hotel_df.iterrows():
    # Get the lat and lng
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and lng to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term "lodging" and out lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
        
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Semirom,IR,81.03,31.4167,51.5667,Motel Dena
1,Garissa,KE,84.85,-0.4536,39.6401,Sharif Plaza Hotel
3,Mattru,SL,80.73,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
6,Bonthe,SL,80.49,7.5264,-12.5050,Bonthe Holiday Village
10,Beckley,US,79.09,37.7782,-81.1882,"Country Inn & Suites by Radisson, Beckley, WV"
13,Itupeva,BR,84.04,-23.1531,-47.0578,Itupeva Plaza Hotel
16,Atuona,PF,76.24,-9.8000,-139.0333,Villa Enata
19,Pasighat,IN,77.56,28.0667,95.3333,Siang Guest House
20,Cabo San Lucas,MX,83.52,22.8909,-109.9124,Hotel Tesoro Los Cabos
21,Samarai,PG,79.23,-10.6167,150.6667,Nuli Sapi

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))